{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Amul Canteen!</h1>
      <p>This website is made to order online on Amul Canteen . You just have to add items in cart and go to checkout for payments.</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>About development</h2>
        <p>This website is build in Python,HTML,CSS,Bootstrap and Javascript in Django framewwork.Then it is uploaded on github repository and then that repository is pulled on pythonanywhere to deploy the website.</p>
        
      </div>
     
    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
